<!DOCTYPE html>
<html>

<head>
    <title>Upload File</title>
</head>

<body>
    <h1>Upload Any File Here!</h1>

    <form action="/uploadFile" enctype="multipart/form-data" method="POST">

        <input type="file" name="mypic" required /> <br>
        <br>
        <input type="submit" value="submit">
    </form>
</body>

</html>